@font-face {
    font-family: "TrajanPro";
    src: url("../fontes/TrajanPro-Bold.otf") format('opentype'),
         url("../fontes/TrajanPro-Regular.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'TrajanPro', sans-serif;
    font-size: 13px;
}

/* Header */
#menu {
    width: 100%;
    height: 85px;
    background-color: rgb(0, 83, 134);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

#menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.funcional {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.funcional img {
    width: 27px;
    height: 27px;
}

/* Main */
#container-geral-principal {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#container-reconhecimento {
    display: flex;
    width: 80%;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 15px;
}

#container-imagem {
    height: 100%;
    width: auto;
    border: 2px solid rgb(255, 255, 255);
}

#container-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mensagem-aviso {
    width: 40%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    line-height: 45px;
}

#mensagem-aviso span {
    color: rgb(0, 146, 62);
}

#historico {
    width: 90%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#pag-seta {
    width: 45px;
    height: 35px;
}

#pag-seta img {
    width: 100%;
    height: auto;
}

#historico table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

#historico thead {
    background-color: rgb(217, 217, 217);
}

#historico th, td {
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
}

#historico th {
    font-weight: bold;
}

#paginacao {
    display: flex;
    width: auto;
    height: 50px;
    gap: 1rem;
    align-items: baseline;
}

#paginacao img {
    height: 40px;
    width: auto;
}

#pagina-atual {
    height: 45px !important;
}

/* Responsividade */
@media screen and (max-width: 1200px) {
    #mensagem-aviso {
        height: auto;
    }

    #historico {
        width: 95%;
        gap: .5rem;
    }

    #historico th, td {
        padding: 4px;
        font-size: 12px;
    }
}